# Build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.userprefs

# Backup & logs
*.log

# NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets
